.app {
  width: 80%;
  height: auto;
  margin-top: 25px;
}

.heading {
  margin: 0 0 8px 8px;
  font-weight: 400;
}

.ui {
  display: flex;
  flex-direction: column;
}

.box {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 25px;
  border: 10px solid #e7eef6;
  background-color: #fdfffe;
  color: #242527;

  display: grid;
  grid-template-columns: 7% 57% 30% 8%;

  transition: all 0.4s ease-out;
}

.box:hover {
  cursor: pointer;
  border: 10px solid #b0c9f2;
  background-color: #1b8dfe;
  color: #fdfffe;
}

.icon {
  margin: 0 0 0.1rem 1rem;
  font-size: 2rem;
  color: #1b8dfe;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box:hover .icon {
  color: #fdfffe;
}

.day {
  font-size: 1rem;
  font-weight: 400;

  display: flex;
  align-items: center;
}

.weather {
  font-size: 0.9rem;
  font-weight: 300;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  text-transform: lowercase;
}

.temp {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1115px) {
  .box {
    grid-template-columns: 9% 55% 30% 8%;
  }
}

@media screen and (max-width: 900px) {
  .app {
    width: 90%;
  }

  .box {
    grid-template-columns: 12% 50% 30% 8%;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    margin: 0 0 2px 6px;
    font-size: 0.75rem;
    font-weight: 400;
  }

  .box {
    padding: 0.5rem;
    margin-bottom: 0.7rem;
    border-radius: 23px;
    border: 7px solid #e7eef6;

    grid-template-columns: 12% 25% 55% 8%;
  }

  .box:hover {
    border: 7px solid #b0c9f2;
  }

  .icon {
    margin: 0 0 0.1rem 0.3em;
    font-size: 1.4rem;
  }

  .day {
    margin-left: 0.5rem;
    font-size: 0.8rem;
  }

  .weather {
    margin-right: 0.5rem;
    font-size: 0.7rem;

    justify-content: flex-end;
  }

  .temp {
    font-size: 0.6rem;
  }
}
